!!!
%html
  %head
    %title BootstrapDemo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .col-md-10.col-md-offset-1
        %a{:href => "/"}
          %h1 Characters
        = render "common/login"
    %p.notice= notice
    %p.alert= alert
    .col-md-6.col-md-offset-3
      = yield
